openapi: 3.2.0
info:
  description: Regulatory APIs based on PSD2 provide access to certain financial information such as bank account balances and transactions.
  version: 8.1.7
  title: Wealth Reader Advanced API
  contact:
    email: info@wealthreader.com
servers:
- description: Production Server
  url: https://api.wealthreader.com/
tags:
- name: Advanced
  description: Optional endpoints not required for standard integrations. Use only if explicitly instructed by Wealth Reader.
paths:
  /entities/:
    get:
      tags:
      - Advanced
      x-internal: true
      summary: Retrieves the list of supported entities
      description: 'This endpoint is optional and not required for standard integrations. Use only if explicitly instructed by Wealth Reader.

        Retrieves the list of supported entities and the information needed to draw the entity''s login form.'
      operationId: getEntities
      parameters:
      - name: show_only_tested
        in: query
        description: Indicates whether to show only tested entities. Default value is 0. In production environments, always use 1.
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
          default: 0
      responses:
        '200':
          description: list of entities
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/entities'
        '400':
          description: error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /verify/iban-ownership/:
    post:
      tags:
      - Advanced
      x-internal: true
      summary: Verify bank account ownership via IBAN
      description: 'This endpoint is optional and not required for standard integrations. Use only if explicitly instructed by Wealth Reader.

        Allows verifying whether a natural or legal person is the holder of a specific bank account using the IBAN and the identification data of the alleged holder.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                api_key:
                  type: string
                  description: Identifies the client in the service
                iban:
                  type: string
                  description: IBAN code of the bank account to verify (without spaces)
                  example: ES4914651234561234567890
                document_type:
                  type: string
                  description: Type of identification document
                  enum:
                  - NIF
                  - NIE
                  - Pasaporte
                  - CIF
                document_number:
                  type: string
                  description: Identification document number
                  example: 12345678Z
                holder_name:
                  type: string
                  description: Full name of the natural person or company name
                  example: LUIS GARCIA BAQUERO
              required:
              - api_key
              - iban
              - document_type
              - document_number
              - holder_name
            example:
              api_key: a1b2c3d4e5f6g7h8i9j0
              iban: ES4914651234561234567890
              document_type: NIF
              document_number: 12345678Z
              holder_name: LUIS GARCIA BAQUERO
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  result:
                    type: object
                    properties:
                      code:
                        type: integer
                        description: Verification result code
                        example: 1
                      message:
                        type: string
                        description: Descriptive message of the result
                        example: The IBAN belongs to the indicated holder
                  statistics:
                    $ref: '#/components/schemas/statistics'
        '400':
          description: Request error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      operationId: postVerifyIbanOwnership
      x-operation-id-source: derived
  /user/register/:
    post:
      tags:
      - Advanced
      x-internal: true
      summary: Register a new user
      description: 'This endpoint is optional and not required for standard integrations. Use only if explicitly instructed by Wealth Reader.

        This endpoint allows registering a user either on the portfolio transfer platform, Easytransfer, or on the reporting tool, Acumulas, based on a unique identifier.'
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/register-user-request'
      responses:
        '200':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/register-user-response'
        '400':
          description: Bad request (e.g., missing required fields)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /user/check/:
    post:
      tags:
      - Advanced
      x-internal: true
      summary: Check user registration status
      description: 'This endpoint is optional and not required for standard integrations. Use only if explicitly instructed by Wealth Reader.

        Checks if a user is registered in the Easytransfer or Acumulas system and returns the unique access link for the user.'
      operationId: checkUser
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/check-user-request'
      responses:
        '200':
          description: User status returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/check-user-response'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /user/revoke/:
    post:
      tags:
      - Advanced
      x-internal: true
      summary: Revoke a previously registered user
      description: 'This endpoint is optional and not required for standard integrations. Use only if explicitly instructed by Wealth Reader.

        This endpoint allows unregistering a user from the Easytransfer or Acumulas platform service.'
      operationId: revokeUser
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/revoke-user-request'
      responses:
        '200':
          description: User unregistered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/revoke-user-response'
        '400':
          description: Bad request (e.g., missing required fields)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /batch/load/:
    post:
      tags:
      - Advanced
      x-internal: true
      summary: Batch connection loading
      description: 'This endpoint is optional and not required for standard integrations. Use only if explicitly instructed by Wealth Reader.


        **Important**: To use batch process management on Wealthreader''s side, a dedicated environment is required. This endpoint is not available on api.wealthreader.com.


        The endpoints grouped under the "batch" tag allow processing multiple bank connections asynchronously,

        unlike the `/entities/` method which is synchronous. Ideal for:

        - Processing large volumes of connections, delegating the process to Wealthreader

        - Avoiding timeouts on slow connections

        - Getting a webhook notification per completed credential


        This method starts asynchronous processing of one or multiple bank connections. Immediately returns a `batch_id` for tracking.

        **A webhook notification is sent to `notification_url` for each individual credential as soon as it completes**, with the following payload fields: `batch_id`, `credential_id`, `status`, `timestamp`.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - api_key
              - notification_url
              - connections
              properties:
                api_key:
                  type: string
                  description: Identifies the client in the service
                  example: a1b2c3d4e5f6g7h8i9j0
                notification_url:
                  type: string
                  format: uri
                  description: Webhook URL. A notification is sent to this URL for each individual credential as soon as it completes processing, not only once all connections in the batch are done.
                  example: https://example.com/webhook/batch-complete
                connections:
                  type: array
                  minItems: 1
                  description: List of connections to process
                  items:
                    $ref: '#/components/schemas/batch-connection'
            example:
              api_key: a1b2c3d4e5f6g7h8i9j0
              notification_url: https://example.com/webhook/batch-complete
              connections:
              - credential_id: cred_demo_001
                code: caixabank
                token: token123
                product_types: accounts,portfolios
              - credential_id: cred_demo_002
                code: BBVA
                token: token456
                product_types: accounts
                date_from: '2024-01-01'
      callbacks:
        credentialCompleted:
          '{$request.body#/notification_url}':
            post:
              summary: Webhook fired when a credential finishes processing
              description: Wealthreader POSTs this payload to `notification_url` as soon as each individual credential in the batch completes (success or error). One call per credential, not one per batch.
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      type: object
                      required:
                      - batch_id
                      - credential_id
                      - status
                      - timestamp
                      properties:
                        batch_id:
                          type: integer
                          description: Unique batch identifier
                          example: 10863151
                        credential_id:
                          type: string
                          description: Identifier of the completed credential
                          example: cred_demo_002
                        status:
                          type: string
                          description: Processing result for this credential
                          example: completed
                        timestamp:
                          type: string
                          format: date-time
                          description: ISO-8601 datetime when processing finished
                          example: '2026-05-13T08:02:47+00:00'
                    example:
                      batch_id: 10863151
                      credential_id: cred_demo_002
                      status: completed
                      timestamp: '2026-05-13T08:02:47+00:00'
              responses:
                '200':
                  description: Webhook received successfully
      responses:
        '202':
          description: Batch accepted for processing
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  batch_id:
                    type: string
                    description: Unique batch identifier
                    example: batch_20250120_a1b2c3d4
                  total_connections:
                    type: integer
                    description: Total number of connections in the batch
                    example: 5
                  estimated_completion_time:
                    type: string
                    format: date-time
                    description: Estimated completion time
                    example: '2025-01-20T10:45:00Z'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      operationId: postBatchLoad
      x-operation-id-source: derived
  /batch/fetch/statistics/:
    post:
      tags:
      - Advanced
      x-internal: true
      summary: Get general statistics about batch connections
      description: 'This endpoint is optional and not required for standard integrations. Use only if explicitly instructed by Wealth Reader.

        Retrieves general statistics about the processing result of all connections in a batch.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - api_key
              - batch_id
              properties:
                api_key:
                  type: string
                  description: Identifies the client in the service
                batch_id:
                  type: string
                  description: Batch ID
      responses:
        '200':
          description: Batch results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  batch_id:
                    type: string
                    example: batch_20250120_a1b2c3d4
                  status:
                    type: string
                    example: completed
                    enum:
                    - pending
                    - processing
                    - completed
                  statistics:
                    type: object
                    properties:
                      start_time:
                        type: string
                        format: date-time
                      end_time:
                        type: string
                        format: date-time
                      total_execution_time:
                        type: number
                        description: Total time in seconds
                        example: 125.5
                      total_connections:
                        type: integer
                        example: 8
                      successful_connections:
                        type: integer
                        example: 7
                      failed_connections:
                        type: integer
                        example: 1
        '404':
          description: Batch not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      operationId: postBatchFetchStatistics
      x-operation-id-source: derived
  /batch/fetch/connection-result/:
    post:
      tags:
      - Advanced
      x-internal: true
      summary: Get individual result of a specific connection within a batch
      description: 'This endpoint is optional and not required for standard integrations. Use only if explicitly instructed by Wealth Reader.

        Retrieves the result of a specific connection from the batch.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - api_key
              - batch_id
              - credential_id
              properties:
                api_key:
                  type: string
                  description: Identifies the client in the service
                batch_id:
                  type: string
                  description: Batch ID
                credential_id:
                  type: string
                  description: Filter by specific credential_id
      responses:
        '200':
          description: data obtained from the entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entity-data'
        '400':
          description: error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Batch or connection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      operationId: postBatchFetchConnectionResult
      x-operation-id-source: derived
components:
  schemas:
    employment:
      type: object
      description: Employment history / work life and contributions
      properties:
        summary:
          type: object
          description: Aggregated summary of employment history
          properties:
            totalDaysRegistered:
              type: integer
              description: Total days registered
              example: 8912
            daysInMultipleActivity:
              type: integer
              description: Days in multiple activity
              example: 130
            daysContributedForBenefits:
              type: integer
              description: Days contributed for benefits
              example: 8782
            totalTimeEquivalence:
              type: string
              description: Total time equivalence
              example: 24 años, 0 meses y 17 días.
        periods:
          type: array
          description: List of employment and similar periods (employment, unemployment, self-employment, etc.)
          items:
            type: object
            required:
            - employer
            - regime
            - contract
            - category
            - actualStartDate
            - startDate
            - endDate
            - contributedDays
            properties:
              employer:
                type: string
                example: TRABAJADOR AUTONOMO
              regime:
                type: string
                example: AUTONOMO
              contract:
                type: string
                example: INDEFINIDO.TIEMPO COMPLETO.ORDINARIO
              category:
                type: string
                example: INGENIEROS LICENCIADOS
              actualStartDate:
                type: string
                format: date
                example: '2022-11-10'
              startDate:
                type: string
                format: date
                example: '2022-11-10'
              endDate:
                type: string
                description: End date or 'Actual' if the period is ongoing
                example: Actual
              contributedDays:
                type: integer
                description: Days contributed within the period
                example: 1062
    insurances:
      type: array
      items:
        type: object
        description: Insurance policies
        required:
        - uuid
        - name
        - currency
        - coverage_category
        - status
        properties:
          uuid:
            type: string
            description: Unique identifier, in relation to the user, assigned by Wealth Reader
            example: 0ae4d722b1c82feeafb4b36b2893230444071335
          code:
            type: string
            description: Bank's internal identifier of the policy
            example: '969032717626333'
          coverage_category:
            type: string
            enum:
            - property
            - personal
            - services
            description: Insurance coverage category
            example: property
          name:
            type: string
            description: Commercial name of the policy
            example: MyBox Hogar
          currency:
            type: string
            description: Currency in ISO 4217 format
            example: EUR
          insured_value:
            type: object
            description: Insured item and its insured amount
            properties:
              name:
                type: string
                description: Description of the insured item
                example: PISO / Residencia secundaria 46023 VALENCIA
              value:
                type: number
                description: Insured amount
                example: 250000
          insured_concepts:
            type: array
            description: List of insured concepts (coverages) and their insured amounts
            items:
              type: object
              properties:
                description:
                  type: string
                  description: Insured concept / coverage
                  example: Fire
                value:
                  type: number
                  description: Insured amount for this concept
                  example: 25000
          constitution_date:
            type: string
            format: date
            description: Policy start date
            example: '2020-01-01'
          expiration_date:
            type: string
            format: date
            description: Policy expiration date
            example: '2021-01-01'
          next_payment_date:
            type: string
            format: date
            description: Date of the next premium payment
            example: '2020-02-01'
          next_installment:
            type: number
            description: Amount of the next premium payment
            example: 800
          frequency:
            type: string
            enum:
            - monthly
            - annual
            description: Premium payment frequency
            example: monthly
          status:
            type: string
            enum:
            - active
            - inactive
            description: Policy status
            example: active
          linked_account:
            type: string
            description: IBAN of the account linked to the premium payment
            example: ES4914651234561234567890
          owner:
            type: object
            description: Policyholder
            properties:
              ID:
                type: string
                description: Policyholder identification document
                example: 07133834N
              name:
                type: string
                description: Policyholder name
                example: LUIS GARCIA BAQUERO
          claims:
            type: array
            description: Claims filed on the policy
            items:
              type: object
              properties:
                uuid:
                  type: string
                  description: Unique identifier of the claim assigned by Wealth Reader
                  example: 8772d6c978d37d7af83094abf380b8b703e94105
                claim_code:
                  type: string
                  description: Claim identifier assigned by the entity
                  example: 0122074354T2
                incident_date:
                  type: string
                  format: date
                  description: Date on which the incident occurred
                  example: '2023-05-13'
                claimed_date:
                  type: string
                  format: date
                  description: Date on which the claim was filed
                  example: '2023-05-15'
                description:
                  type: string
                  description: Description of the claim
                  example: Rotura de lunas por impacto de objetos
                status:
                  type: string
                  enum:
                  - in_process
                  - accepted
                  - rejected
                  description: Claim status
                  example: in_process
    cards:
      type: array
      items:
        type: object
        description: Credit, debit, and prepaid cards
        required:
        - subtype
        - uuid
        - code
        - name
        - currency
        - balances
        properties:
          status:
            type: string
            enum:
            - active
            - inactive
            - cancelled
            - locked
            example: active
          subtype:
            type: string
            enum:
            - credit
            - debit
            - prepaid
            example: credit
          uuid:
            type: string
            example: aefd89eade0a6a09d9b8eab4c22da6a6a37632e6
          code:
            type: string
            description: Numbering with PCI compliance obfuscation
            example: 516097********1234
          name:
            type: string
            example: Credit Card
          currency:
            type: string
            example: EUR
          next_payment_date:
            type: string
            format: date
            description: Next payment date for credit cards
            example: '2023-01-05'
          anual_interest:
            type: number
            description: Annual interest rate
            example: 17.48
          tae:
            type: number
            description: Annual Equivalent Rate (APR)
            example: 18.95
          balances:
            type: object
            properties:
              available:
                type: number
                example: 3980
              limit:
                type: number
                example: 4000
              disposed:
                type: number
                example: 20
          linked_account:
            type: string
            example: ES4021005321592566566159
          owner:
            $ref: '#/components/schemas/owners'
          additional_info:
            $ref: '#/components/schemas/additional_info'
          transactions:
            type: array
            items:
              type: object
              required:
              - uuid
              - value_date
              - amount
              - description
              properties:
                uuid:
                  type: string
                  example: 78ceedca9cd9d2f2bfbb2439795ab6a1fcefc12b
                settled:
                  type: boolean
                  description: Indicates whether it is a transaction settled by the bank, which means it will not change in subsequent readings.
                  example: false
                operation_date:
                  type: string
                  format: date
                  description: Transaction operation date
                  example: '2022-12-28'
                value_date:
                  type: string
                  format: date
                  example: '2022-12-28'
                amount:
                  type: number
                  example: -20
                currency:
                  type: string
                  description: Transaction currency
                  example: EUR
                exchange_rate:
                  type: number
                  description: Exchange rate applied to the transaction
                  example: 1
                description:
                  type: string
                  example: Pago en AMZN MKTP ES123CM0ZM4
                categorization:
                  type:
                  - object
                  - 'null'
                  description: Categorization information if available
                  properties:
                    type:
                      type: integer
                      example: 0
                      description: Category type according to the /entities/category-types/ method
                additional_info:
                  $ref: '#/components/schemas/additional_info'
    leases:
      type: array
      items:
        type: object
        description: Leasing and renting contracts
        required:
        - subtype
        - uuid
        - contract_number
        - provider
        - currency
        - start_date
        - end_date
        - payment_frequency
        - status
        - holders
        - asset
        - financials
        - installments
        properties:
          subtype:
            type: string
            enum:
            - leasing
            - renting
            example: leasing
          uuid:
            type: string
            description: Unique identifier assigned by Wealth Reader
            example: 1f0a0b1c2d3e4f5a6b7c8d9e0f1234567890abcd
          contract_number:
            type: string
            example: L-2024-000123
          name:
            type: string
            description: Commercial name of the contract if provided by the entity
            example: BMW 3 Series Leasing
          provider:
            type: object
            description: Lessor/financier
            properties:
              name:
                type: string
                example: Banco XYZ Renting, S.A.
              tax_id:
                type: string
                example: A12345678
          currency:
            type: string
            example: EUR
          start_date:
            type: string
            format: date
            example: '2024-10-01'
          end_date:
            type: string
            format: date
            example: '2028-09-30'
          term_months:
            type: integer
            description: Total duration in months
            example: 48
          payment_frequency:
            type: string
            enum:
            - monthly
            - quarterly
            - semiannual
            - annual
            example: monthly
          status:
            type: string
            enum:
            - active
            - finished
            - cancelled
            - in_arrears
            example: active
          linked_account:
            type: string
            description: IBAN for charges if provided by the bank
            example: ES4021005321592566566159
          holders:
            $ref: '#/components/schemas/owners'
          asset:
            type: object
            description: Leased asset
            required:
            - category
            properties:
              category:
                type: string
                enum:
                - vehicle
                - industrial_equipment
                - it_equipment
                - real_estate
                - other
                example: vehicle
              description:
                type: string
                example: BMW 320d Touring
              vin:
                type: string
                description: For vehicles, if available
                example: WBA8G51040K123456
              license_plate:
                type: string
                example: 1234-ABC
              brand:
                type: string
                example: BMW
              model:
                type: string
                example: 320d
              year:
                type: integer
                example: 2024
              serial_number:
                type: string
                description: For machinery/equipment
              address:
                type: string
                description: For real estate
          financials:
            type: object
            description: Financial terms
            properties:
              capital_financed:
                type: number
                description: Financed base (only leasing; optional in renting)
                example: 35000
              nominal_interest_rate:
                type: number
                description: Nominal interest rate if applicable (more common in leasing)
                example: 4.25
              apr_tae:
                type: number
                description: APR/TAE if the entity publishes it
                example: 4.38
              discount_rate:
                type: number
                description: Discount rate (IFRS 16), if available
              initial_fee:
                type: number
                description: Down payment/initial fee
                example: 3000
              security_deposit:
                type: number
                description: Security deposit if exists
                example: 1000
              residual_value:
                type: number
                description: Residual value/purchase option (typical in leasing)
                example: 12000
              purchase_option:
                type: boolean
                description: Purchase option exists at the end
                example: true
              services_included:
                type: object
                description: More common in renting
                properties:
                  maintenance:
                    type: boolean
                    example: true
                  insurance:
                    type: boolean
                    example: true
                  roadside_assistance:
                    type: boolean
                    example: true
                  tires:
                    type: boolean
                    example: false
              vat_included:
                type: boolean
                description: Fees with VAT included (renting) vs itemized (leasing)
                example: true
              mileage_limit_year:
                type: integer
                description: Annual mileage limit (vehicle renting)
                example: 15000
              early_termination:
                type: object
                description: Early termination conditions
                properties:
                  allowed:
                    type: boolean
                    example: true
                  penalty_type:
                    type: string
                    enum:
                    - percentage_of_remaining
                    - fixed
                    - formula
                    - other
                    example: percentage_of_remaining
                  penalty_value:
                    type: number
                    description: Percentage or amount depending on penalty_type
                    example: 40
          totals:
            type: object
            description: Accumulated totals as of extraction date
            properties:
              paid_installments:
                type: integer
                example: 10
              remaining_installments:
                type: integer
                example: 38
              total_paid:
                type: number
                description: Total paid (fees + services + taxes)
              total_pending:
                type: number
              principal_outstanding:
                type: number
                description: Outstanding principal (if applicable in leasing)
              accrued_interest:
                type: number
                description: Accrued unpaid interest
          installments:
            type: object
            description: Installment schedule
            properties:
              paid:
                type: array
                items:
                  $ref: '#/components/schemas/lease_installment'
              scheduled:
                type: array
                items:
                  $ref: '#/components/schemas/lease_installment'
    contracts:
      type: array
      items:
        type: object
        description: Contracts associated with the user, such as loans, cards, or insurance.
        required:
        - signing_date
        - type
        - subtype
        - description
        - pdf_file
        properties:
          signing_date:
            type: string
            format: date
            description: Contract signing date.
            example: '2003-09-26'
          type:
            type: string
            enum:
            - loan
            - card
            - insurance
            description: Contract type
            example: loan
          subtype:
            type: string
            enum:
            - personal
            - mortgage
            - card
            - health
            - life
            - auto
            description: Contract subtype
            example: mortgage
          description:
            type: string
            description: Description provided by the bank
            example: Variable rate mortgage
          pdf_file:
            type: string
            format: byte
            description: Contract PDF file encoded in base64
    entity-data:
      type: object
      required:
      - success
      - payload
      - statistics
      properties:
        success:
          type: boolean
          example: true
        payload:
          type: object
          properties:
            user_information:
              $ref: '#/components/schemas/user_information'
            portfolios:
              $ref: '#/components/schemas/portfolios'
            accounts:
              $ref: '#/components/schemas/accounts'
            cards:
              $ref: '#/components/schemas/cards'
            receipts:
              $ref: '#/components/schemas/receipts'
            loans:
              $ref: '#/components/schemas/loans'
            deposits:
              $ref: '#/components/schemas/deposits'
            leases:
              $ref: '#/components/schemas/leases'
            insurances:
              $ref: '#/components/schemas/insurances'
            properties:
              $ref: '#/components/schemas/properties'
            files:
              $ref: '#/components/schemas/files'
            contracts:
              $ref: '#/components/schemas/contracts'
            factoring:
              $ref: '#/components/schemas/factoring'
            confirming:
              $ref: '#/components/schemas/confirming'
            employment:
              $ref: '#/components/schemas/employment'
            guarantees:
              $ref: '#/components/schemas/guarantees'
        statistics:
          $ref: '#/components/schemas/statistics'
    check-user-request:
      type: object
      required:
      - api_key
      - user_id
      properties:
        api_key:
          type: string
          description: Authentication key
          example: A1B2C3D4
        user_id:
          type: string
          description: User identification document.
          example: 12345678A
    portfolio_composition_pension_plans:
      type: array
      description: Composition for subtype=pension-plans
      items:
        $ref: '#/components/schemas/portfolio_composition_pension_plans_item'
    portfolio_transaction:
      type: object
      required:
      - uuid
      - value_date
      - operation_type
      - shares
      - price
      - total_amount
      - currency
      properties:
        uuid:
          type: string
          description: Unique identifier, in relation to the portfolio uuid, assigned by Wealth Reader
          example: 05e4563f5bbf2d06efd0a29ebe7edbbb4e1bff63
        operation_pending:
          type: boolean
          description: Indicates whether the operation is pending execution or not.
          example: false
        operation_date:
          type:
          - string
          - 'null'
          format: date
          example: '2020-01-30'
        value_date:
          type: string
          format: date
          example: '2020-01-30'
        operation_type:
          type: string
          enum:
          - purchase
          - sale
          - subscription by transfer
          - redemption by transfer
          - scrip dividend
          - capital increase
          - equity rights
          - equity fee
          - equity adjustment
          example: purchase
        shares:
          type: number
          example: 1076.8273
        price:
          type: number
          example: 11.1438
        total_amount:
          type: number
          example: 12000
          minimum: 0
          description: It is always an absolute value. The sign is defined by operation_type
        currency:
          type: string
          description: Original currency of the transaction.
          example: EUR
        reference_currency:
          type: string
          description: Portfolio currency. This field is only included when it differs from currency.
          example: USD
        exchange_rate:
          type: number
          description: Exchange rate between currency and reference_currency. This field is only included when reference_currency differs from currency.
          example: 1
    user_information:
      type: object
      description: Information related to the person logging in
      required:
      - ID
      - name
      properties:
        ID:
          type: string
          example: 12345678Z
        name:
          type: string
          example: LUIS GARCIA BAQUERO
        gender:
          type: string
          enum:
          - male
          - female
          example: male
        birth_date:
          type: string
          format: date
          example: '1980-09-26'
        birth_place:
          type: string
          example: Ibiza
        email:
          type: string
          example: lgarcia@gmail.com
        cell_phone:
          type: string
          description: Phone number with international prefix, without spaces
          example: '+34666123456'
        address:
          type: string
          example: CALLE BAILEN 41 1A
        city:
          type: string
          example: MADRID
        country:
          type: string
          example: SPAIN
        postal_code:
          type: string
          example: '28005'
        marital_status:
          type: string
          enum:
          - single
          - married
          example: married
        job:
          type: string
          description: 'The value here varies greatly from one entity to another: from indicating only if it is self-employment or employment to indicating the type of profession'
          example: CUENTA PROPIA
    portfolio_pension_plans:
      allOf:
      - $ref: '#/components/schemas/portfolio_common'
      - type: object
        properties:
          subtype:
            type: string
            enum:
            - pension-plans
            example: pension-plans
          composition:
            $ref: '#/components/schemas/portfolio_composition_pension_plans'
    portfolios:
      type: array
      description: Investment portfolios. Item schema depends on subtype.
      items:
        oneOf:
        - $ref: '#/components/schemas/portfolio_funds'
        - $ref: '#/components/schemas/portfolio_stocks'
        - $ref: '#/components/schemas/portfolio_pension_plans'
        - $ref: '#/components/schemas/portfolio_bonds'
        - $ref: '#/components/schemas/portfolio_alternative_investments'
        - $ref: '#/components/schemas/portfolio_crypto'
        discriminator:
          propertyName: subtype
          mapping:
            funds: '#/components/schemas/portfolio_funds'
            stocks: '#/components/schemas/portfolio_stocks'
            pension-plans: '#/components/schemas/portfolio_pension_plans'
            bonds: '#/components/schemas/portfolio_bonds'
            alternative-investments: '#/components/schemas/portfolio_alternative_investments'
            crypto: '#/components/schemas/portfolio_crypto'
    revoke-user-response:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: User unregistered successfully
    error-response:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: Invalid API key
    accounts:
      type: array
      items:
        type: object
        description: Bank accounts
        required:
        - uuid
        - code
        - name
        - currency
        - owners
        - balances
        - transactions
        properties:
          uuid:
            type: string
            example: 8076932f04f73e27fe608fee4d12fca8708dec8c
          subtype:
            type: string
            enum:
            - checking
            - savings
            - line-of-credit
            example: checking
          interest_rate:
            type:
            - number
            - 'null'
            example: 0.5
            description: Account interest rate, if applicable.
          line_of_credit_details:
            type:
            - object
            - 'null'
            description: Specific details for line of credit accounts. Only available when subtype is line-of-credit
            properties:
              credit_limit:
                type:
                - number
                - 'null'
                example: 50000
                description: Credit limit
              interest_rate:
                type:
                - number
                - 'null'
                example: 4.5
                description: Interest rate for the credit line
              credit_used:
                type: number
                example: 15000
                description: Credit used
              credit_available:
                type:
                - number
                - 'null'
                example: 35000
                description: Available credit
              constitution_date:
                type:
                - string
                - 'null'
                format: date
                example: '2021-05-20'
                description: Date when the credit line was constituted
              expiration_date:
                type:
                - string
                - 'null'
                format: date
                example: '2031-05-20'
                description: Expiration date of the credit line
          code:
            type: string
            description: IBAN code without spaces
            example: ES4914651234561234567890
          name:
            type: string
            example: Cuenta NÓMINA
          currency:
            type: string
            example: EUR
          owners:
            $ref: '#/components/schemas/owners'
          balances:
            type: object
            properties:
              available:
                type: number
                example: 14302.07
              current:
                type: number
                example: 14302.07
          additional_info:
            $ref: '#/components/schemas/additional_info'
          transactions:
            type: array
            items:
              type: object
              properties:
                uuid:
                  type: string
                  description: Unique identifier, in relation to the account uuid, assigned by Wealth Reader
                  example: d0c2ea4c072cf4d7b0fd494d7728260d736e6b25
                operation_date:
                  type: string
                  format: date
                  example: '2022-12-30'
                value_date:
                  type: string
                  format: date
                  example: '2022-12-30'
                amount:
                  type: number
                  example: -1.1
                balance:
                  type: number
                  example: 14302.07
                description:
                  type: string
                  example: Pago en TELPARK MADRID ES
                pdf_file:
                  type: string
                  description: PDF file encoded in Base64 if requested via the add_pdf_from_uuids parameter
                pdf_file_settled:
                  type: boolean
                  description: Indicates whether the file generated by the bank is final (true) or provisional (false)
                categorization:
                  type: object
                  description: Optional categorization information
                  x-nullable: true
                  properties:
                    type:
                      type: integer
                      example: 1
                      description: The complete list of categories can be obtained from the /entities/category-types/ method
                    portfolio-uuid:
                      type: string
                      x-nullable: true
                      example: '1465010091400123456789'
                    ISIN:
                      type: string
                      x-nullable: true
                      example: US88160R1014
                transfer_details:
                  type: object
                  x-nullable: true
                  description: This data only appears when the transaction is a transfer. If it is a transfer and this information does not appear, but it does appear in online banking, you can open a ticket to have it added.
                  properties:
                    concept:
                      type: string
                      description: Concept written by the sender or issuer
                      example: Pago de factura 12345
                    sender_receiver:
                      type: string
                      description: Name of the sender or recipient
                      example: Juan Pérez
                    account_number:
                      type: string
                      description: Account number of the sender or recipient
                      example: ESXX12341234121234567890
                additional_info:
                  $ref: '#/components/schemas/additional_info'
    portfolio_composition_funds_item:
      type: object
      properties:
        ISIN:
          type:
          - string
          - 'null'
          description: Instrument ISIN
          example: LU1234567890
        ISIN_description:
          type:
          - string
          - 'null'
          description: Instrument description
          example: My Fund Class A
        currency:
          type:
          - string
          - 'null'
          description: Currency in ISO 4217 coding
          example: EUR
        weighting:
          type:
          - number
          - 'null'
          description: Weight with respect to the rest of the portfolio composition
          example: 100
        shares:
          type:
          - number
          - 'null'
          description: Shares
          example: 225.0077
        price:
          type:
          - number
          - 'null'
          description: Current price
          example: 14.5577
        total_amount:
          type:
          - number
          - 'null'
          description: Total amount
          example: 3275.6
        reference_currency:
          type:
          - string
          - 'null'
          description: When currency differs from reference_currency, indicates the reference currency used for conversion
          example: EUR
        exchange_rate:
          type:
          - number
          - 'null'
          description: Exchange rate applied from currency to reference_currency
          example: 1
    properties:
      type: array
      items:
        type: object
        description: Real estate assets
        required:
        - uuid
        - code
        - currency
        - trading_price
        - trading_year
        - historic_prices
        properties:
          uuid:
            type: string
          code:
            description: Cadastral reference
            type: string
          description:
            type: string
          purpose:
            type: string
          currency:
            type: string
          trading_price:
            type: number
            description: Trading price of the property
          trading_year:
            type: number
            description: Year of the trade
          historic_prices:
            type: array
            description: Historical prices of the property
            items:
              type: object
              properties:
                date:
                  type: string
                  format: date
                  description: Date of the price valuation
                price:
                  type: number
                  description: Valuation price
    portfolio_funds:
      allOf:
      - $ref: '#/components/schemas/portfolio_common'
      - type: object
        properties:
          subtype:
            type: string
            enum:
            - funds
            example: funds
          composition:
            $ref: '#/components/schemas/portfolio_composition_funds'
    portfolio_alternative_investments:
      allOf:
      - $ref: '#/components/schemas/portfolio_common'
      - type: object
        properties:
          subtype:
            type: string
            enum:
            - alternative-investments
            example: alternative-investments
          composition:
            $ref: '#/components/schemas/portfolio_composition_funds'
    deposits:
      type: array
      items:
        type: object
        description: Fixed-term deposits
        required:
        - uuid
        - code
        - name
        - currency
        - principal
        - start_date
        - maturity_date
        - rate_type
        - nominal_interest_rate
        - owners
        - status
        - interest_movements
        properties:
          uuid:
            type: string
            description: Unique identifier, in relation to the user, assigned by Wealth Reader
            example: 0ae4d722b1c82feeafb4b36b2893230444071335
          code:
            type: string
            description: Bank's internal identifier (contract/deposit)
            example: DPZ-1234567890
          name:
            type: string
            example: 12-month deposit
          currency:
            type: string
            example: EUR
          principal:
            type: number
            description: Contracted nominal amount
            example: 10000
          pending_principal:
            type: number
            description: Remaining nominal amount to be repaid
            example: 5000
          start_date:
            type: string
            format: date
            example: '2024-09-01'
          maturity_date:
            type: string
            format: date
            example: '2025-09-01'
          payment_frequency:
            type: string
            enum:
            - monthly
            - quarterly
            - semiannual
            - annual
            - at_maturity
            description: Interest payment frequency, if provided by the entity
            example: at_maturity
          capitalization:
            type: string
            enum:
            - none
            - simple
            - compound
            description: 'Interest capitalization type:

              * `none` - Interest is paid out to linked_account, principal stays constant

              * `simple` - Interest calculated on original principal only, may accrue (accrued_interest) but does not generate further interest

              * `compound` - Interest added to principal at each period, next period''s interest calculated on the new total

              '
            example: none
          rate_type:
            type: string
            enum:
            - fixed
            - variable
            example: fixed
          nominal_interest_rate:
            type: number
            description: Nominal interest rate (NIR) for the entire period, if applicable
            example: 3
          apr_tae:
            type: number
            description: Annual Percentage Rate (APR/TAE); if the entity provides TAE, return it here
            example: 3.04
          day_count_convention:
            type: string
            enum:
            - ACT/360
            - ACT/365
            - 30E/360
            - ACT/ACT
            description: Day count convention, if available
            example: ACT/365
          linked_account:
            type: string
            description: IBAN where interests or principal are credited at maturity
            example: ES4021005321592566566159
          accrued_interest:
            type: number
            description: Accrued unpaid interest as of the extraction date
            example: 24.58
          expected_interest_total:
            type: number
            description: Expected gross interest at maturity (if the entity calculates it)
            example: 300
          withholding_tax_rate:
            type: number
            description: Withholding tax rate applied to interest, if reported by the entity
            example: 19
          status:
            type: string
            enum:
            - active
            - matured
            - cancelled
            - early_redeemed
            example: active
          auto_renewal:
            type: object
            description: Auto-renewal information
            properties:
              enabled:
                type: boolean
                example: false
              renewed_times:
                type: integer
                example: 0
              next_renewal_date:
                type:
                - string
                - 'null'
                format: date
              renewal_term_months:
                type:
                - integer
                - 'null'
          early_withdrawal:
            type: object
            description: Early withdrawal clauses (if reported by the entity)
            properties:
              allowed:
                type: boolean
                example: true
              penalty_type:
                type: string
                enum:
                - percentage
                - fixed
                - interest_loss
                - other
                example: interest_loss
              penalty_value:
                type: number
                example: 100
              notes:
                type: string
                example: Loss of accrued interest for the current period
          owners:
            $ref: '#/components/schemas/owners'
          interest_movements:
            type: array
            description: Interest payments made and/or scheduled
            items:
              type: object
              required:
              - date
              - currency
              - gross_interest
              properties:
                uuid:
                  type: string
                  description: Unique identifier, in relation to the deposit
                  example: 90763109952d4f2ebece8dceca8254078c5384a0
                scheduled:
                  type: boolean
                  description: true if scheduled (future), false if already paid
                  example: false
                date:
                  type: string
                  format: date
                  example: '2025-09-01'
                period_start:
                  type: string
                  format: date
                  description: Start of the period to which the coupon/interest corresponds
                  example: '2024-09-01'
                period_end:
                  type: string
                  format: date
                  example: '2025-09-01'
                currency:
                  type: string
                  example: EUR
                gross_interest:
                  type: number
                  example: 300
                withholding_tax:
                  type: number
                  example: 57
                net_interest:
                  type: number
                  example: 243
                payment_type:
                  type: string
                  enum:
                  - coupon
                  - maturity
                  example: maturity
          principal_movements:
            type: array
            description: Principal movements - opening, renewal, cancellation, reimbursement
            items:
              type: object
              properties:
                uuid:
                  type: string
                  description: Unique identifier, in relation to the deposit
                  example: 90763109952d4f2ebece8dceca8254078c5384a0
                date:
                  type: string
                  format: date
                type:
                  type: string
                  enum:
                  - opening
                  - renewal
                  - maturity_payout
                  - early_redemption
                amount:
                  type: number
                  example: 12000
                  minimum: 0
                  description: It is always an absolute value. The sign is defined by type
                currency:
                  type: string
                target_account:
                  type: string
                  description: Destination account when principal is reimbursed
    register-user-response:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: User registered successfully
    portfolio_crypto:
      allOf:
      - $ref: '#/components/schemas/portfolio_common'
      - type: object
        properties:
          subtype:
            type: string
            enum:
            - crypto
            example: crypto
          composition:
            $ref: '#/components/schemas/portfolio_composition_crypto'
    error-detail:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: unsigned
          example: 1000
          description: The code indicates the error family. For example, from 2000 to 2999 indicate login problems. Each error code should be treated differently. For example, if the code indicates 'Incorrect login', the call should not be retried; if the code indicates 'entity under maintenance' it can be retried later. You can get the complete list in the error-codes method.
        message:
          type: string
          example: Incorrect login
          description: Text in the entity's language. It is safe to show to the user and in many cases will help them correct the error
    loans:
      type: array
      items:
        type: object
        description: Loans
        required:
        - uuid
        - contract_number
        - loan_type
        - constitution_date
        - currency
        - granted_capital
        - pending_amount
        - linked_account
        - holders
        - interest_rate
        - expiration_date
        - pending_receipts
        - amortization_made
        - amortization_pending
        properties:
          uuid:
            type: string
            description: Unique identifier, in relation to the user, assigned by Wealth Reader
            example: 0ae4d722b1c82feeafb4b36b2893230444071335
          contract_number:
            type: string
            example: 9620.321-205439-70
          loan_type:
            type: string
            example: Variable rate mortgage
          constitution_date:
            type: string
            format: date
            example: '2022-02-23'
          currency:
            type: string
            example: EUR
          granted_capital:
            type: number
            example: 207000
          pending_amount:
            type: number
            example: 166639.77
          next_installment:
            type: number
            description: Amount of the next installment
            example: 1040.3
          linked_account:
            type: string
            description: IBAN code without spaces
            example: ES0123456789012345678901
          holders:
            type: array
            description: Loan holders
            items:
              type: object
              properties:
                id:
                  type: string
                  example: 32945945D
                name:
                  type: string
                  example: Diego Serrano
          interest_rate:
            type: number
            example: 3.768
          expiration_date:
            type: string
            format: date
            example: '2042-03-01'
          pending_receipts:
            type: number
            example: 223
          amortization_made:
            type: array
            description: Record of amortizations made
            items:
              type: object
              required:
              - uuid
              - date
              - amortized
              - interest
              - total
              - pending_capital
              - operation_type
              properties:
                uuid:
                  type: string
                  description: Unique identifier, in relation to the loan, assigned by Wealth Reader
                  example: 8772d6c978d37d7af83094abf380b8b703e94105
                date:
                  type: string
                  format: date
                  example: '2022-12-01'
                amortized:
                  type: number
                  description: Amortized capital
                  example: 515.43
                interest:
                  type: number
                  description: Interest paid
                  example: 524.87
                total:
                  type: number
                  description: Total payment
                  example: 1040.3
                pending_capital:
                  type: number
                  description: Pending capital after this payment
                  example: 166639.77
                operation_type:
                  type: string
                  description: Type of amortization operation
                  enum:
                  - receipt_paid
                  - partial_amortization
                  - total_amortization
                  - receipt_partially_paid
                  - receipt_pending
                  example: receipt_paid
          amortization_pending:
            type: array
            description: Scheduled future amortizations
            items:
              type: object
              required:
              - uuid
              - date
              - amortized
              - interest
              - total
              - pending_capital
              - operation_type
              properties:
                uuid:
                  type: string
                  description: Unique identifier, in relation to the loan, assigned by Wealth Reader
                  example: e59296b79e7f80cec26679d2c65883025fd59295
                date:
                  type: string
                  format: date
                  example: '2030-12-01'
                amortized:
                  type: number
                  description: Amortized capital
                  example: 515.43
                interest:
                  type: number
                  description: Interest to be paid
                  example: 524.87
                total:
                  type: number
                  description: Total payment
                  example: 1040.3
                pending_capital:
                  type: number
                  description: Pending capital after this payment
                  example: 66639.77
                operation_type:
                  type: string
                  description: Type of scheduled operation
                  enum:
                  - receipt_scheduled
                  example: receipt_scheduled
    check-user-response:
      type: object
      properties:
        success:
          type: boolean
          example: true
        registered:
          type: boolean
          example: true
        user_id:
          type: string
          example: '12345'
        links:
          type: object
          description: Collection of links to different aggregation services registered by the user.
          additionalProperties:
            type: string
            format: uri
          example:
            easy-transfer: https://singularbank.wealthreader.com/...
            integra: https://www.acumulas.com/register?...
    error:
      type: object
      required:
      - success
      - error
      - statistics
      properties:
        success:
          type: boolean
          example: false
        error:
          $ref: '#/components/schemas/error-detail'
        statistics:
          $ref: '#/components/schemas/statistics'
    owner:
      type: object
      required:
      - ID
      - name
      - role
      properties:
        ID:
          type:
          - string
          - 'null'
          example: 12345678Z
          description: It may be null if the bank does not specify it
        name:
          type: string
          example: LUIS GARCIA BAQUERO
        role:
          type: string
          enum:
          - owner
          - legal representative
          - administrator
          - attorney-in-fact
          - authorised
          example: owner
    portfolio_composition_pension_plans_item:
      type: object
      properties:
        DGS:
          type:
          - string
          - 'null'
          description: Pension plan identifier (entity-specific)
          example: 123456
        DGS_description:
          type:
          - string
          - 'null'
          description: Pension plan description
          example: Pension Plan Balanced
        currency:
          type:
          - string
          - 'null'
          description: Currency in ISO 4217 coding
          example: EUR
        weighting:
          type:
          - number
          - 'null'
          description: Weight with respect to the rest of the portfolio composition
          example: 100
        shares:
          type:
          - number
          - 'null'
          description: Shares
          example: 225.0077
        price:
          type:
          - number
          - 'null'
          description: Current price
          example: 14.5577
        total_amount:
          type:
          - number
          - 'null'
          description: Total amount
          example: 3275.6
        reference_currency:
          type:
          - string
          - 'null'
          description: When currency differs from reference_currency, indicates the reference currency used for conversion
          example: EUR
        exchange_rate:
          type:
          - number
          - 'null'
          description: Exchange rate applied from currency to reference_currency
          example: 1
    portfolio_common:
      type: object
      description: Portfolio container. The fields available in composition depend on the subtype.
      required:
      - subtype
      - uuid
      - code
      - name
      - currency
      - total_value
      - weighted_return
      - annualized_volatility
      - yield
      - contributions
      - withholdings
      - owners
      - composition
      - transactions
      properties:
        subtype:
          type: string
          description: Portfolio subtype. Determines which keys may appear in composition items.
          enum:
          - funds
          - stocks
          - pension-plans
          - bonds
          - alternative-investments
          - crypto
          example: funds
        uuid:
          type: string
          description: Unique identifier, in relation to the user, assigned by Wealth Reader
          example: 05e4563f5bbf2d06efd0a29ebe7edbbb4e1bff63
        code:
          type: string
          example: '1465010091400123456789'
        name:
          type: string
          example: Fondo Dinámico
        currency:
          type: string
          example: EUR
        total_value:
          type: number
          example: 3275.6
        weighted_return:
          type:
          - number
          - 'null'
          example: 8.49
        annualized_volatility:
          type:
          - number
          - 'null'
          description: The value will be 0 when the entity does not provide it
          example: 0
        yield:
          type:
          - number
          - 'null'
          example: 256.27
        contributions:
          type:
          - number
          - 'null'
          example: 3019.33
        withholdings:
          type:
          - number
          - 'null'
          example: 0
        contracting_date:
          type:
          - string
          - 'null'
          format: date
          example: '2016-04-27'
        linked_account:
          type:
          - string
          - 'null'
          description: IBAN code without spaces. The value will be null when the entity does not provide it
          example: ES4021005321592566566159
        portfolio_statement:
          type:
          - string
          - 'null'
          format: byte
          description: Base64-encoded PDF statement for the portfolio (when provided by the entity)
          example: JVBERi0xLjQKJ...
        owners:
          $ref: '#/components/schemas/owners'
        composition:
          type: array
          description: Positions that make up the portfolio. The item schema depends on subtype.
        transactions:
          $ref: '#/components/schemas/portfolio_transactions'
    portfolio_stocks:
      allOf:
      - $ref: '#/components/schemas/portfolio_common'
      - type: object
        properties:
          subtype:
            type: string
            enum:
            - stocks
            example: stocks
          composition:
            $ref: '#/components/schemas/portfolio_composition_stocks'
    portfolio_composition_stocks_item:
      type: object
      properties:
        ISIN:
          type:
          - string
          - 'null'
          description: Instrument ISIN
          example: US0378331005
        ISIN_description:
          type:
          - string
          - 'null'
          description: Instrument description
          example: Apple Inc.
        MIC:
          type:
          - string
          - 'null'
          description: Market Identifier Code (ISO 10383)
          example: XNAS
        currency:
          type:
          - string
          - 'null'
          description: Currency in ISO 4217 coding
          example: USD
        weighting:
          type:
          - number
          - 'null'
          description: Weight with respect to the rest of the portfolio composition
          example: 60
        shares:
          type:
          - number
          - 'null'
          description: Shares
          example: 10
        price:
          type:
          - number
          - 'null'
          description: Current price
          example: 180.25
        total_amount:
          type:
          - number
          - 'null'
          description: Total amount
          example: 1802.5
        reference_currency:
          type:
          - string
          - 'null'
          description: When currency differs from reference_currency, indicates the reference currency used for conversion
          example: EUR
        exchange_rate:
          type:
          - number
          - 'null'
          description: Exchange rate applied from currency to reference_currency
          example: 0.92
    portfolio_transactions:
      type: array
      items:
        $ref: '#/components/schemas/portfolio_transaction'
    owners:
      type: array
      description: Array of owners
      items:
        $ref: '#/components/schemas/owner'
    confirming:
      type: array
      items:
        type: object
        description: Confirming contracts
        properties:
          uuid:
            type: string
            example: a62ae601a424403d0fbe968d335378421006c277
          contract_number:
            type: string
            example: '000117001234567'
          name:
            type: string
            example: CONFIRMING PPAL SIN RECURSO
          currency:
            type: string
            example: EUR
          balances:
            type: object
            properties:
              available:
                type: number
                example: 11360.26
              disposed:
                type: number
                example: 0
              limit:
                type: number
                example: 11360.26
          interest_rate:
            type: number
            example: 5.25
          linked_account:
            type: string
            example: ES0700812345678987654321
          next_payment_date:
            type: string
            example: ''
          number_invoices:
            type: integer
            example: 8
          total_value:
            type: number
            description: Total value of invoices
            example: 14495.28
          total_advanced_value:
            type: number
            description: Total advanced value
            example: 6919.29
          deferrals:
            type: array
            description: Validated confirming deferral rows. May be present when one status result failed; totals are then omitted.
            items:
              type: object
              required:
              - status
              properties:
                status:
                  type: string
                  enum:
                  - paid
                  - unpaid
                overdue:
                  type: boolean
                  description: Present as true for Impagado deferrals
                start_date:
                  type: string
                  format: date
                due_date:
                  type: string
                  format: date
                total_value:
                  type: number
                deferred_value:
                  type: number
                interest_value:
                  type: number
                interest_rate:
                  type: number
                late_fees:
                  type: number
          deferrals_summary:
            type: object
            description: Present only when all requested deferral statuses completed successfully.
            properties:
              count:
                type: integer
              total_value:
                type: number
              deferred_value:
                type: number
              interest_value:
                type: number
              late_fees:
                type: number
          providers:
            type: array
            description: List of providers associated with the confirming contract
            items:
              type: object
              properties:
                uuid:
                  type: string
                  description: Unique identifier for the provider
                  example: 2ea19f8f8bcda4fa5e54e139852e0a7459d16b49
                company_id:
                  type: string
                  description: Company tax identification number
                  example: A12345678
                company_name:
                  type: string
                  description: Company name
                  example: EMPRESA 1 SA
          invoices:
            type: array
            description: List of invoices associated with the confirming contract
            items:
              type: object
              properties:
                uuid:
                  type: string
                  description: Unique identifier for the invoice
                  example: 6b556584df0721e5f0b27448247c9682a6470d11
                invoice_id:
                  type: string
                  description: Invoice number or reference
                  example: 2023-53
                provider_id:
                  type: string
                  description: Provider tax identification number
                  example: A12345678
                operation_date:
                  type: string
                  format: date
                  description: Date when the invoice was processed
                  example: '2023-10-25'
                due_date:
                  type: string
                  format: date
                  description: Invoice due date
                  example: '2024-01-24'
                amount:
                  type: number
                  description: Invoice amount
                  example: 918.45
                status:
                  type: string
                  description: Invoice status (e.g., pending, advanced, paid)
                  example: advanced
                additional_info:
                  $ref: '#/components/schemas/additional_info'
          additional_info:
            $ref: '#/components/schemas/additional_info'
    register-user-request:
      type: object
      required:
      - api_key
      - user_id
      - email
      - service
      properties:
        api_key:
          type: string
          description: Authentication key (8 alphanumeric characters)
          example: A1B2C3D4
        user_id:
          type: string
          description: User identification document.
          example: 12345678A
        service:
          type: string
          description: Service associated with the user. Determines the data flow.
          enum:
          - integra
          - easy-transfer
          example: easy-transfer
        email:
          type: string
          format: email
          description: User email, used according to service type.
          example: sai_banker@singularbank.com
    portfolio_composition_crypto:
      type: array
      description: Composition for subtype=crypto
      items:
        $ref: '#/components/schemas/portfolio_composition_crypto_item'
    receipts:
      type: array
      items:
        type: object
        description: Direct debit receipts
        required:
        - last_receipt_date
        - issuer
        - description
        - account
        - status
        - amount
        - pdf_file
        properties:
          last_receipt_date:
            type: string
            format: date
            example: '2023-07-23'
          issuer:
            type: string
            example: Canal de Isabel II
          description:
            type: string
            example: RECIBO CONTRATO 328774628 FACTURA DEL 18 07 23
          account:
            type: string
            example: ES0123456789012345678901
          status:
            type: string
            enum:
            - paid
            - pending
            - overdue
            example: paid
          amount:
            type: number
            example: 50.75
          pdf_file:
            type: string
            description: PDF file encoded in Base64
          pdf_file_settled:
            type: boolean
            description: Indicates whether the PDF file generated by the bank is final (true) or provisional (false). Some banks generate a PDF with less information on the transaction day and later provide the final version.
    portfolio_composition_stocks:
      type: array
      description: Composition for subtype=stocks
      items:
        $ref: '#/components/schemas/portfolio_composition_stocks_item'
    portfolio_composition_crypto_item:
      type: object
      properties:
        ticker:
          type:
          - string
          - 'null'
          description: Crypto asset ticker/symbol
          example: BTC
        value_time:
          type:
          - string
          - 'null'
          format: date-time
          description: Valuation timestamp (when provided by the entity)
          example: '2026-02-18T12:34:56Z'
        description:
          type:
          - string
          - 'null'
          description: Asset description
          example: Bitcoin
        currency:
          type:
          - string
          - 'null'
          description: Currency in ISO 4217 coding
          example: EUR
        weighting:
          type:
          - number
          - 'null'
          description: Weight with respect to the rest of the portfolio composition
          example: 100
        shares:
          type:
          - number
          - 'null'
          description: Quantity held
          example: 0.25
        price:
          type:
          - number
          - 'null'
          description: Current price
          example: 42000
        total_amount:
          type:
          - number
          - 'null'
          description: Total amount
          example: 10500
        reference_currency:
          type:
          - string
          - 'null'
          description: When currency differs from reference_currency, indicates the reference currency used for conversion
          example: EUR
        exchange_rate:
          type:
          - number
          - 'null'
          description: Exchange rate applied from currency to reference_currency
          example: 1
    portfolio_composition_bonds:
      type: array
      description: Composition for subtype=bonds
      items:
        $ref: '#/components/schemas/portfolio_composition_bonds_item'
    files:
      type: array
      items:
        type: object
        description: Files
        required:
        - file_date
        - retrieval_type
        - file_type
        - description
        - content
        properties:
          file_date:
            type: string
            format: date
            description: File date
            example: '2023-07-21'
          retrieval_type:
            type: string
            description: Whether the file was downloaded from a repository (already generated) or generated on-the-fly
            enum:
            - repository
            - on-the-fly
            example: repository
          file_type:
            type: string
            description: File type
            enum:
            - Norma 43
            - Norma 19
            - Norma 57
            - Norma 34
            - MT940
            - MT103
            - SEPA XML
            - BAI2
            - CAMT
            - AFB120
            - ACH
            example: Norma 43
          description:
            type: string
            description: File description
            example: Monthly account statement
          content:
            type: string
            format: byte
            description: File content encoded in Base64
    portfolio_composition_funds:
      type: array
      description: Composition for subtype=funds (and alternative-investments)
      items:
        $ref: '#/components/schemas/portfolio_composition_funds_item'
    lease_installment:
      type: object
      required:
      - date
      - currency
      - total
      properties:
        uuid:
          type: string
          description: Unique identifier of the installment
          example: b07a1a0d3e6f4c2a9e1d0f8b7c6a5e4d3c2b1a0f
        date:
          type: string
          format: date
          example: '2025-01-01'
        status:
          type: string
          enum:
          - paid
          - pending
          - overdue
          example: pending
        currency:
          type: string
          example: EUR
        total:
          type: number
          example: 625.5
        breakdown:
          type: object
          description: Installment breakdown
          properties:
            principal:
              type: number
              example: 450
            interest:
              type: number
              example: 80
            services:
              type: number
              description: Maintenance/insurance/tires (renting)
              example: 70
            taxes:
              type: number
              description: VAT/IGIC, etc.
              example: 25.5
            fees:
              type: number
              description: Management fees/other
              example: 0
        value_date:
          type: string
          format: date
          description: Value date if provided by the bank
        receipt_uuid:
          type: string
          description: Link to receipt in receipts if exists
        additional_info:
          $ref: '#/components/schemas/additional_info'
    additional_info:
      type: array
      items:
        type: object
        description: Contains bank-specific fields with the name assigned by the bank
        properties:
          key:
            type: string
            description: Key of the additional information
          value:
            type: string
            description: Value of the additional information
    guarantees:
      type: array
      items:
        type: object
        description: Bank guarantees and sureties (technical and financial)
        required:
        - uuid
        - code
        - name
        - subtype
        - currency
        - balances
        properties:
          uuid:
            type: string
            description: Unique identifier, in relation to the user, assigned by Wealth Reader
            example: 90763109952d4f2ebece8dceca8254078c5384a0
          code:
            type: string
            description: Bank's internal identifier for the guarantee
            example: f2eb8HsfBDSDseBw8HeSccOwJweJ2OfxH2xDw8Ss
          name:
            type: string
            description: Commercial name of the guarantee according to the entity
            example: Aval Financiero
          nickname:
            type: string
            description: Alias if the entity provides it
            example: Aval Técnico
          subtype:
            type: string
            description: Type of guarantee/surety
            enum:
            - financial
            - technical
            - other
            example: financial
          currency:
            type: string
            example: EUR
          linked_account:
            type: string
            description: IBAN of the linked account (if the entity provides it)
            example: ES1001289462580857003432
          issuer:
            type: string
            description: Issuing entity if applicable (when not the main bank itself)
            example: Bankinter, S.A.
          beneficiary:
            type: string
            description: Beneficiary of the guarantee if available
            example: AYUNTAMIENTO DE MADRID
          purpose:
            type: string
            description: Purpose/object of the guarantee if the entity indicates it
            example: Licitación obra pública expediente 2025/00123
          issue_date:
            type: string
            format: date
            description: Issue date
            example: '2024-06-12'
          expiration_date:
            type: string
            format: date
            description: Expiration date if exists
            example: '2026-06-11'
          status:
            type: string
            description: Operational status of the guarantee
            enum:
            - active
            - cancelled
            - expired
            - pending_activation
            example: active
          balances:
            type: object
            description: Key amounts of the guarantee
            properties:
              guaranteed_amount:
                type: number
                description: Guaranteed nominal amount
                example: 50000
              exposure:
                type: number
                description: Outstanding risk/amount used under the guarantee (if applicable)
                example: 0
              available:
                type: number
                description: Remaining available amount (if applicable to guarantee lines)
                example: 50000
              euro_equivalent:
                type: number
                description: Euro equivalent if the guarantee currency is different
                example: 50000
          fees_commissions:
            type: object
            description: Information about associated fees, if the entity provides it
            properties:
              periodicity:
                type: string
                enum:
                - monthly
                - quarterly
                - semiannual
                - annual
                - at_issuance
                - other
                example: quarterly
              last_charge_date:
                type: string
                format: date
                example: '2025-03-31'
              last_charge_amount:
                type: number
                example: 125
          additional_info:
            type: array
            description: Non-standardized bank-specific fields
            items:
              type: object
              properties:
                key:
                  type: string
                  example: euroEquivalent
                value:
                  type: string
                  example: '0.00'
    portfolio_bonds:
      allOf:
      - $ref: '#/components/schemas/portfolio_common'
      - type: object
        properties:
          subtype:
            type: string
            enum:
            - bonds
            example: bonds
          composition:
            $ref: '#/components/schemas/portfolio_composition_bonds'
    batch-connection:
      type: object
      description: 'Structure of each connection in the array - accepts all parameters from the /entities/ method

        Must always send credential_id + code + (token OR credentials)

        '
      required:
      - credential_id
      - code
      properties:
        credential_id:
          type: string
          description: Client's unique identifier for this credential
          example: cred_001
        code:
          type: string
          description: Name of the entity. The complete list is available with GET /entities/
          example: santander
        token:
          type: string
          description: 'Value for custodied credentials, previously tokenized through a call

            with tokenize=true. Alternative to user/password.

            '
          example: FRJ0mHlaqZwLzu
        user:
          type: string
          description: User (required if token is not sent)
        password:
          type: string
          description: Password (required if token is not sent)
        product_types:
          type: string
          description: 'List of product types from which information is to be retrieved.

            Accepts multiple values separated by commas. Default value is ALL.

            '
          example: accounts,cards,portfolios
        only_balances:
          type: boolean
          default: false
          description: 'Indicates whether to obtain only the balances of the products

            instead of all available information

            '
        date_from:
          type: string
          format: date
          description: 'Date from which transactions are requested, in YYYY-MM-DD format.

            Must be a date before today.

            '
          example: '2024-01-01'
        date_to:
          type: string
          format: date
          description: Only applies to restricting by future dates for loan and confirming products, in YYYY-MM-DD format. The date must be later than today.
          example: '2025-12-31'
        required_products_schema:
          type: string
          description: Required products schema. Indicates the specific accounts or cards from which data is desired, with additional per-product configurations (only_balances, add_pdf_from_uuids, date_from). Accepts a JSON string.
          example: '{"ACCOUNTS":{"0ae4d722b1c82feeafb4b36b2893230444071335":{"only_balances":false,"date_from":"2024-04-03"}}}'
        add_pdf_from_uuids:
          type: string
          description: Accepts transaction UUIDs separated by commas. Only taken into account if product_types is ALL or includes accounts. Adds the PDF document associated with each requested bank transaction.
          example: 20966426721d0885ef9d4b95535e1d3198936f16,8772d6c978d37d7af83094abf380b8b703e94105
        force_historic_transactions:
          type: boolean
          default: false
          description: If true, forces retrieval of the full transaction history available at the entity, ignoring the date_from filter.
        second_password:
          type: string
          description: Second password or security answer, required by some entities in addition to the main password.
        third_password:
          type: string
          description: Third credential field required by some entities (e.g. PIN, card number).
        contract_name:
          type: string
          description: Contract or account alias required by some entities to identify a specific contract within a multi-contract access.
    revoke-user-request:
      type: object
      required:
      - api_key
      - user_id
      - service
      properties:
        api_key:
          type: string
          description: Authentication key (8 alphanumeric characters)
          example: A1B2C3D4
        user_id:
          type: string
          description: User identification document.
          example: 12345678A
        service:
          type: string
          enum:
          - integra
          - easy-transfer
          - all
          description: Service from which to unregister the user. 'all' for all services.
          example: easy-transfer
    portfolio_composition_bonds_item:
      type: object
      properties:
        ISIN:
          type:
          - string
          - 'null'
          description: Instrument ISIN
          example: DE000BU0E139
        ISIN_description:
          type:
          - string
          - 'null'
          description: Instrument description
          example: Federal Republic of Germany 02024-15.01.2025 Certificate of Deposit
        currency:
          type:
          - string
          - 'null'
          description: Currency in ISO 4217 coding
          example: EUR
        price:
          type:
          - number
          - 'null'
          description: Market price
          example: 0.988945
        shares:
          type:
          - number
          - 'null'
          description: Quantity / nominal
          example: 247000
        total_amount:
          type:
          - number
          - 'null'
[...]
